<div class="div" *ngIf="products">
  <div class="card" *ngFor="let product of products">
    <h1>{{ product.title }}</h1>
    <p>id : {{ product.id }}</p>
    <img
      [routerLink]="['/details', product.id]"
      [src]="product.thumbnail"
      [alt]="product.title"
    />
    <p>{{ product.thumbnail }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Price: R${{ product.price }}</p>
    <p>DiscountPercentage: {{ product.discountPercentage }}</p>
    <p>Rating: {{ product.rating }}</p>
    <p>Stock: {{ product.stock }}</p>
    <p>Brand: {{ product.brand }}</p>
    <p>Category: {{ product.category }}</p>
    <button [routerLink]="['details', product.id]">Details</button>
  </div>
</div>
